body {
	justify-content: center;
	align-items: center;
	height: 80vh;
	background: #112c38
}
.menu {
	justify-content: center;
	align-items: center;
	margin: 50px;
	padding: 50px;
	display: flex;
}

.content {
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	padding: 50px;
	display: grid;
	color: white;
}

ul {
	display: flex;
}
ul li {
	list-style: none;
	margin: 0 20px;
	transition: 0.5s;

}
ul li a {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	transition: 0.5s;

}
ul:hover li a {
	transform: scale(1.2);
	opacity: .2;
	filter: blur(2px);
}
ul li a:hover {
	transform: scale(1.6);
	opacity: 2;
	filter: blur(0);
}
ul li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff497c;
	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(0);
	z-index: -1;
}
ul li a:hover:before {
	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(1);
}